### Code Alongs - Read Excel

In [3]:
import pandas as pd

df = pd.read_csv("data/calories.csv")
df.head()

# df.head() får ut första 5 raderna

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [4]:
df.head(3)

# får ut första 3 raderna

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ

In [5]:
df.tail()

# om man vill se slutet

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ

In [6]:
df.info()

# info om dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [7]:
df.describe()

# beskriv data set / summary statistics

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
count,2225,2225,2225,2225,2225
unique,44,1993,2,524,524
top,BakingIngredients,Roast Beef,100g,100 cal,420 kJ
freq,95,4,1802,26,26

In [9]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [13]:
df["FoodCategory"].unique()

# hämtar alla unika food category

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [14]:
df["FoodCategory"].value_counts()

# hämtar hur många som finns i varje food category

FoodCategory
BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Pastries,Breads&Rolls            78
Dishes&Meals                     78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Fruits                           54
Sauces&Dressings                 54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Nuts&Seeds                       39
Spreads                          39
Wine                             39
Pork                             39
Beef&Veal                        39
PotatoProducts                   39
Tropical&ExoticFruits            39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Poultry&Fowl                     33
Offal&Giblets                    33
VegetableOils                    33
Milk&DairyProducts               33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: count, dtype: int64

In [15]:
df["per100grams"].value_counts()

per100grams
100g     1802
100ml     423
Name: count, dtype: int64

### Data Cleaning

In [16]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [19]:
# byta namn:

df_cleaned_names = df.rename(
    {"Cals_per100grams": "Calories", "KJ_per100grams": "kJ", "per100grams": "per100"},
    axis=1,
)

df_cleaned_names.head()

  FoodCategory             FoodItem per100 Calories      kJ
0  CannedFruit           Applesauce   100g   62 cal  260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal  202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal  386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal  370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal  227 kJ

In [28]:
df_cleaned_names["Calories"] = df_cleaned_names["Calories"].str[:-3].astype(int)

AttributeError: Can only use .str accessor with string values!

In [29]:
df_cleaned_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FoodCategory  2225 non-null   object
 1   FoodItem      2225 non-null   object
 2   per100        2225 non-null   object
 3   Calories      2225 non-null   int64
 4   kJ            2225 non-null   object
dtypes: int64(1), object(4)
memory usage: 87.0+ KB

In [30]:
df_cleaned_names["per100"].value_counts()

per100
100g     1802
100ml     423
Name: count, dtype: int64

In [31]:
# boolean mask

df_cleaned_names["per100"] == "100ml"

0       False
1       False
2       False
3       False
4       False
        ...
2220    False
2221    False
2222    False
2223    False
2224    False
Name: per100, Length: 2225, dtype: bool

In [ ]:
# man kan ändra på olika sätt, 
# här ändrar vi 100ml och 100g till liquids och solids, 
# och detta är två olika sätta att göra det på

In [33]:
df_liquids = df_cleaned_names[df_cleaned_names["per100"] == "100ml"]
df_liquids.head()

           FoodCategory       FoodItem per100  Calories      kJ
409  Milk&DairyProducts    Almond Milk  100ml        17   71 kJ
410  Milk&DairyProducts     Buttermilk  100ml        62  260 kJ
412  Milk&DairyProducts   Coconut Milk  100ml       230  966 kJ
422  Milk&DairyProducts  Hot Chocolate  100ml        89  374 kJ
423  Milk&DairyProducts          Kefir  100ml        55  231 kJ

In [36]:
df_solids = df_cleaned_names.query("per100 == '100g'")
df_solids.head()

  FoodCategory             FoodItem per100  Calories      kJ
0  CannedFruit           Applesauce   100g        62  260 kJ
1  CannedFruit      Canned Apricots   100g        48  202 kJ
2  CannedFruit  Canned Blackberries   100g        92  386 kJ
3  CannedFruit   Canned Blueberries   100g        88  370 kJ
4  CannedFruit      Canned Cherries   100g        54  227 kJ

### Find Top 5 Categories of Highest Calories

In [39]:
df_solids_sorted = df_solids.sort_values(by = "Calories", ascending = False)
df_solids_top5 = df_solids_sorted.iloc[:5]
df_solids_top5

     FoodCategory     FoodItem per100  Calories       kJ
1621        Soups      Goulash   100g      1009  4238 kJ
1761    Oils&Fats         Lard   100g       902  3788 kJ
528     Beef&Veal  Beef Tallow   100g       902  3788 kJ
1756    Oils&Fats    Goose Fat   100g       898  3772 kJ
599          Meat  Chicken Fat   100g       898  3772 kJ

In [41]:
df_liquids_sorted = df_liquids.sort_values(by = "Calories", ascending = False)
df_liquids_top5 = df_liquids_sorted.iloc[:5]
df_liquids_top5

       FoodCategory        FoodItem per100  Calories       kJ
1751      Oils&Fats   Cod Liver Oil  100ml      1000  4200 kJ
1808  VegetableOils  Wheat Germ Oil  100ml       929  3902 kJ
1800  VegetableOils      Salmon Oil  100ml       911  3826 kJ
1789  VegetableOils    Menhaden Oil  100ml       911  3826 kJ
1759      Oils&Fats     Herring Oil  100ml       902  3788 kJ

In [47]:
df_top5_calories_category = df_cleaned_names.groupby("FoodCategory")["Calories"].median().sort_values(
    ascending=False
).reset_index().head()

df_top5_calories_category

             FoodCategory  Calories
0           VegetableOils     884.0
1               Oils&Fats     883.0
2              Nuts&Seeds     534.0
3            Candy&Sweets     448.0
4  Oatmeal,Muesli&Cereals     373.5

In [61]:
query = """
SELECT
    FoodCategory,
    MEDIAN(Calories) AS median_calories
FROM df_cleaned_names
GROUP BY
    FoodCategory,
    Calories
ORDER BY
    Calories
DESC
LIMIT
    5
"""
print(query)

SELECT
    FoodCategory,
    MEDIAN(Calories) AS median_calories
FROM df_cleaned_names
GROUP BY
    FoodCategory,
    Calories
ORDER BY
    Calories
DESC
LIMIT
    5

In [62]:
import duckdb

duckdb.query(query)

┌───────────────┬─────────────────┐
│ FoodCategory  │ median_calories │
│    varchar    │     double      │
├───────────────┼─────────────────┤
│ Soups         │          1009.0 │
│ Oils&Fats     │          1000.0 │
│ VegetableOils │           929.0 │
│ VegetableOils │           911.0 │
│ Oils&Fats     │           902.0 │
└───────────────┴─────────────────┘

In [63]:
duckdb.query(query).df()

    FoodCategory  median_calories
0          Soups           1009.0
1      Oils&Fats           1000.0
2  VegetableOils            929.0
3  VegetableOils            911.0
4      Beef&Veal            902.0