### Code Alongs - Python Fundamentals Part 1

In [2]:
my_fruit = input()

print(f"I like to eat {my_fruit}")

I like to eat apple

In [ ]:
age = int(input("Give me your age: "))
print (f"In five years, you will be {age + 5} age years old")

In five years, you are 33 age years old

In [9]:
age = 28
type(age)

int

In [10]:
food_lover = True
type(food_lover)

bool

### Collections

- List
- Tuples
- Sets
- Dictionary

In [ ]:
###

### List Creation

- Append
- List Comprehension

In [13]:
# Append

numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# List Comprehension

numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even

odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

### Dictionary

- key : value-pairs

In [30]:
courses = {
    "Python": 40,
    "SQL": 30,
    "Data Platform Development": 40
}
courses

{'Python': 40, 'SQL': 30, 'Data Platform Development': 40}

In [31]:
courses.keys()

dict_keys(['Python', 'SQL', 'Data Platform Development'])

In [32]:
len(courses.keys())

3

In [33]:
courses.values()

dict_values([40, 30, 40])

In [35]:
for course in courses:
    print(course, courses[course])

Python 40
SQL 30
Data Platform Development 40

In [46]:
print(f"{"Course":<30} Points")
for course, points in courses.items():
    print (f"{course:<30} {points}")

Course                         Points
Python                         40
SQL                            30
Data Platform Development      40

### Strings

In [54]:
ml_term = "sUpErViSeD    learning"

len(ml_term)

22

In [58]:
ml_term.lower().strip().split()

['supervised', 'learning']